###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
*     text=auto
*.sh  text eol=lf
*.yml text eol=lf
###############################################################################
# Diff behavior.
###############################################################################
*.h   diff=cpp
*.cpp diff=cpp
###############################################################################
# Fix language detection on github.
###############################################################################
*.sh linguist-language=Shell
*.h linguist-language=C++

###############################################################################
# diff behavior for common document formats
# 
# Convert binary document formats to text before diffing them. This feature
# is only available from the command line. Turn it on by uncommenting the 
# entries below.
###############################################################################
#*.doc   diff=astextplain
#*.DOC   diff=astextplain
#*.docx  diff=astextplain
#*.DOCX  diff=astextplain
#*.dot   diff=astextplain
#*.DOT   diff=astextplain
#*.pdf   diff=astextplain
#*.PDF   diff=astextplain
#*.rtf   diff=astextplain
#*.RTF   diff=astextplain
