._*
*~
*.mode1v3
*.pbxuser
*.perspectivev3
*.user
*.ncb
*.suo
*.ilk
*.pch
*.pdb
*.aps
*.dep
*.idb
*.manifest
*.manifest.res
*.o
*.d
*.sdf
*.opensdf
xcuserdata
*.xccheckout
contents.xcworkspacedata
.DS_Store
.svn
profile
/Builds
