._*
*.mode1v3
*.pbxuser
*.perspectivev3
*.user
*.ncb
*.suo
*.ilk
*.pch
*.pdb
*.dep
*.idb
*.manifest
*.manifest.res
*.o
*.d
*.sdf
*.opensdf
xcuserdata
*.xccheckout
contents.xcworkspacedata
.DS_Store
.svn
profile
**/MacOSX/build
**/VisualStudio2012/Debug
**/VisualStudio2012/Release
**/VisualStudio2013/Debug
**/VisualStudio2013/Release
**/VisualStudio2015/Debug
**/VisualStudio2015/Release

